/* src/pages/HomeStudent/HomeStudent.css */

.home-student-page main {
  /* Đây là phần thân chính chứa banner và lưới khóa học */
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  /* Giờ đây, toàn bộ nội dung chính sẽ được căn giữa và có chiều rộng tối đa là 1200px */
}